datasets/
models/
checkpoint/
wandb/
SuperMarioLand/
*.code-workspace
*.out
*.out
stored_models/
temp/
/rom/*
!/rom/pipe_gray.state
verl/outputs/
outputs/
*.png
!/docs/assets/overview.png
!/docs/assets/ppo.png
*.codex
**/__pycache__/
